/* Define your theme modifications inside next mixin */
@mixin com_ls_prc-helium-ext {
  /*!* Basic *!
  --primary-color: #81C677;
  --primary-color_rgb: 129, 198, 119;

  !* Common *!
  --primary-color-shade-1: #6BBA5E;
  --primary-color-shade-2: #58AF4B;
  --primary-dim-color: #A6D69F;*/


}